# LaTeX auxiliary files
*.aux
*.log
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.blg
*.bbl
*.toc
*.out
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.bcf
*.run.xml
*.spl
*.ind
*.ilg
*.idx
*.thm
*.tdo
*.glo
*.glsdefs
*.ist
*.acn
*.brf

# Specific tfg files found in the directory
tfg.aux
tfg.bbl
tfg.blg
tfg.brf
tfg.fdb_latexmk
tfg.glo
tfg.glsdefs
tfg.ist
tfg.synctex.gz
tfg.tdo
tfg.thm
tfg.acn
